main {
    padding: 1rem;

    grid-area: main;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

main .video {
    padding: 1rem;
    width: 85%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.thumb {
    max-width: 100%;
    height: 68.5%;
}

.infos {
    margin-top: .625rem;
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
}

.infos img.user-photo {
    width: 2rem;
    height: 2rem
}

.infos-text {
    height: 100%;
    margin-left: .625rem;
    display: flex;
    flex-direction: column;
}

.infos-text p {
    font-size: .875rem;
    font-weight: 700;
    justify-self: flex-start;
}
.infos-text span {
    margin-top: .725rem;
    font-size: .75rem;
    color: #31313188;
    justify-self: flex-end;

}
